
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Se o arquivo solicitado existir (ex: imagem, js, css), serve ele
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]
  
  # Para qualquer outra coisa, serve o index.html (SPA)
  RewriteRule ^ index.html [L]
</IfModule>
