
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Se o arquivo existir, sirva-o
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]
  
  # Caso contrário, redirecione tudo para index.html
  RewriteRule ^ index.html [L]
</IfModule>
